.buttons {

  background-color: blue;
}


* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left{
  width: 30%;
}

.right {
  width: 20%;
}

.middle {
  width: 10%;
}

table {
  border: 1px solid black;
}
th {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}
