.buttons {

  background-color: blue;
  color: white;
}


* {
  box-sizing: border-box;
}

.row {

  display: flex;
  flex-wrap: wrap;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left{
  width: 30%;
}

.right {
  width: 20%;
}

.middle {
  width: 10%;
}

table {
  border: 1px solid black;
}
th {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}

#stackbits0IND{

display: none;
}

#stackbits1IND{

display: none;
}

#stackbits2IND{

display: none;
}

#stackbits3IND{

display: none;
}
